---
layout: home
title: DXC ANZ Products for Microsoft Business Applications
header: Product Documentation
description: DXC Practice for Microsoft offers a variety of products for Dynamics 365 Finance and Operations.
---

{% if site.data.products %}

<div class="container-fluid pt-6 pb-6">
  <div class="row">
    {% for product in site.data.products %}
    {%if product.disableDocs == false%}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{ product.productDocsUrl | relative_url }}">{{ product.title }}</a>
          </h2>
          <p>{{ product.description }}</p>
        </div>
      </div>
    </div>
    {%endif%}
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="container-fluid">
  <h2>Suggest New Idea </h2>
  {% capture newIdea %}
  {% include_relative suggest-new-idea.md %}
  {% endcapture %}
  {{ newIdea | markdownify }}
</div>

<div class="container-fluid">
  <h2>EULA </h2>
  {% capture eula_notice %}
  {% include_relative eula.md %}
  {% endcapture %}
  {{ eula_notice | markdownify }}
</div>

<div class="container-fluid">
  <h2>Copyright Notice </h2>
  {% capture copyright %}
  {% include_relative copyright-notice.md %}
  {% endcapture %}
  {{ copyright | markdownify }}
</div>

  
<!-- </div> -->
<!-- <div class="container-fluid pt-6 pb-6">
  <div class="row">
    <div class="col-12 col-md-6 mb-3">
        
    </div>
  </div>
</div> -->