<div class="content">
    <div class="row">
      <details open>
        <summary>Release Notes</summary>
        <ul>
            <li class="list-style-type">
              {% assign coreextension = site.coreextensions | sort: 'release-version' | reverse%}
              {% for coreext in coreextension %}
                  {%if coreext.url contains "coreextensions/releasenotes" and coreext.state == "current"%}
                  <li class="list-style-type">
                    <a href="{{ coreext.url }}">{{coreext.title}}</a>
                  </li>
                  {% endif%}
              {% endfor %}
              <details>
                <summary>Previous Versions</summary>
                <ul>
                    {% assign coreextension = site.coreextensions | sort: 'release-version' | reverse%}
                    {% for coreext in coreextension %}
                        {%if coreext.url contains "coreextensions/releasenotes" and coreext.state == "previous"%}
                        <li class="list-style-type">
                          <a href="{{ coreext.url }}">{{coreext.title}}</a>
                        </li>
                        {% endif%}
                    {% endfor %}
                </ul>
              </details>
              <details>
                <summary>Archive</summary>
                <ul>
                    {% assign coreextension = site.coreextensions | sort: 'release-version' | reverse%}
                    {% for coreext in coreextension %}
                        {%if coreext.url contains "coreextensions/releasenotes" and coreext.state == "archive"%}
                        <li class="list-style-type">
                          <a href="{{ coreext.url }}">{{coreext.title}}</a>
                        </li>
                        {% endif%}
                    {% endfor %}
                </ul>
              </details>
            </li>
          </ul>
      </details>
      <details>
      <summary>
        In this article
      </summary>
      <ul>
        <li class="list-style-type">
          {{ content | toc_only }}
        </li>
      </ul>
    </details>
      <details open>
        <summary>Getting Started</summary>
        <ul>
          {% if site.data.coreextensionsMenus.toc[0] %}
            {% for item in site.data.coreextensionsMenus.toc %}
              {% if item.page %}
                <li class="list-style-type">
                  <a href="{{ item.url }}">{{ item.page }}</a>
                </li>
              {% endif %}
              {% if item.Level_1_items[0] %}
                <li class="list-style-type">
                  <details id="{{ item.id }}">
                    <summary>{{ item.title }}</summary>
                    <ul>
                      {% for entry in item.Level_1_items %}
                          <li class="list-style-type"><a href="{{ entry.url }}">{{ entry.page }}</a>
                            {% if entry.Level_2_items[0] %}
                              <ul>
                              {% for subentry in entry.Level_2_items %}
                                  <li class="list-style-type"><a href="{{ subentry.url }}">{{ subentry.page }}</a></li>
                              {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                      {% endfor %}
                    </ul>
                  </details>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        </ul>
      </details>
    </div>
  </div>