<div class='header'>
  <div class="container-fluid">
    <div class="container-fluid logo header-padding">
      <div class="social-media-links-align">
        <div class="social-media-links">
          <img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /><a href="/">{{site.title}}</a>
        </div>
        <div class="social-media-links">
          <b>FOLLOW US ON</b>
        </div>
      </div>
      <div class="social-media-links-align">
        <div class="social-media-links">
          
        </div>
        <div class="social-media-links">
          <a href="https://www.youtube.com/@DXCEnterprise" target="_blank" rel="noopener" class="social-media-links-end">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/YouTube_icon_%282013-2017%29.png" alt="YouTube" width="32" height="32" style="object-fit:contain;" />
          </a>
          <a href="https://au.linkedin.com/showcase/dxcpracticemicrosoft" target="_blank" rel="noopener" class="social-media-links-end">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="LinkedIn" width="32" height="32" style="object-fit:contain;" />
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      {% include main-menu.html %}
    </div>
    <div style="margin-top: 8px; text-align: end; width: 500px;">
      <div class="gcse-search"></div>
    </div>
  </div>
</div>
<script>
  // Place in a script tag after the search box loads
document.addEventListener("DOMContentLoaded", function() {
  var style = document.createElement('style');
  style.innerHTML = `
    
    .gsc-search-button-v2 {
      background: #5f249f !important;
      border-radius: 4px !important;
      color: #fff !important;
      border: none !important;
      padding: 8px 16px !important;
    }

    .gcse-search {
      background: none !important;
      border: none !important;
      padding: 0 !important;
      margin: 24px 0 32px 0;
    }

    .gsc-control-cse, .gsc-control-cse table, .gsc-control-cse .gsc-search-box, .gsc-control-cse .gsc-search-box table {
      background: none !important;
      border: none !important;
      box-shadow: none !important;
      padding: 0 !important;
      margin: 0 !important;
    }

    .gsc-control-cse .gsc-branding, 
    .gsc-control-cse .gsc-branding-text, 
    .gsc-control-cse .gsc-branding-img, 
    .gsc-control-cse .gsc-clear-button {
      display: none !important;
    }
  `;
  document.head.appendChild(style);
});
</script>