<div>
    <h5>Copyright Notice</h5>
    ©2013-2025. Copyright DXC Eclipse Pty Limited ACN 051 758 199.  All rights reserved.<br/>
    This document may not be distributed or copied, in whole or in part, without prior consent of DXC Eclipse Pty Limited or DXC Technology..<br/>
    Logos, brand names and product names used in this document are the trademarks or registered trademarks of DXC Technology or DXC Eclipse Pty Limited or their respective third-party owners..<br/>
    Microsoft Dynamics is a trademark of Microsoft Corporation in the United States of America and/or other countries..<br/>
</div>