<div class="content">
    <div class="row">
      <details open>
        <summary>Getting Started</summary>
        <ul>
          {% if site.data.sampleMenus.toc[0] %}
            {% for item in site.data.sampleMenus.toc %}
              {% if item.page %}
                <li class="list-style-type">
                  <a href="{{ item.url }}">{{ item.page }}</a>
                </li>
              {% endif %}
              {% if item.Level_1_items[0] %}
                <li class="list-style-type">
                  <details open>
                    <summary>{{ item.title }}</summary>
                    <ul>
                      {% for entry in item.Level_1_items %}
                          <li class="list-style-type"><a href="{{ entry.url }}">{{ entry.page }}</a>
                            {% if entry.Level_2_items[0] %}
                              <ul>
                              {% for subentry in entry.Level_2_items %}
                                  <li class="list-style-type"><a href="{{ subentry.url }}">{{ subentry.page }}</a></li>
                              {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                      {% endfor %}
                    </ul>
                  </details>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        </ul>
      </details>
    </div>
  </div>