<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- Self host font -->
    <!-- <link rel="preload" href="{{ '/assets/fonts/playfair-display.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin> -->
    <link href="{{ './assets/css/style.css' | relative_url }}" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper" class="wrapper">
        {% include header.html %}
        {{content}}
    </div>
    {% include footer.html %}
    <script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
  </body>
</html>