<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
  </head>
  <body>

      <header>
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
        <a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications"><img src="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/IMAGES/DXC_Logo_PurpleBlackWhite.png" alt="Return to main page" style="width:43.33333
px;height:72px; margin-top: 3px;"></a>
        <!--
            <div class="header-img"></div>
        -->
      </header>

    <!--
      <div id="banner">
        <span id="logo"></span>

        <a href="{{ site.github.repository_url }}" class="button fork"><strong>View On GitHub</strong></a>
        {% if site.show_downloads %}
          <div class="downloads">
            <span>Downloads:</span>
            <ul>
              <li><a href="{{ site.github.zip_url }}" class="button">ZIP</a></li>
              <li><a href="{{ site.github.tar_url }}" class="button">TAR</a></li>
            </ul>
          </div>
        {% endif %}
      </div><!-- end banner -->
    -->
    
    <div class="wrapper">
      <nav>
        <div class="scroll">
        <ul></ul>
          </div>
      </nav>

      
    <div id = "rightbox">
      <style>
    /* Remove default bullets */
    ul, #myUL {
      list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #myUL {
      margin: 0;
      padding: 0;
    }

    /* Style the caret/arrow */
    .caret {
      cursor: pointer;
      user-select: none; /* Prevent text selection */
    }

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
      content: "\25B6";
      color: black;
      display: inline-block;
      margin-right: 4px;
    }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
      transform: rotate(90deg);
    }

    /* Hide the nested list */
    .nested {
      display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
      display: block;
    }

    ul {
      list-style-type: none;
      list-style-image:none;
    }

    </style>
    <div class="scroll">
    <ul id="myUL">
      <li><span class="caret">Core extensions</span>
         <ul class="nested">
           <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/CORE-EXTENSIONS/Solution-overview.html">Introduction</a></li>
           <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/CORE-EXTENSIONS/COMPANY-COLORS/Company-Colors.html">Company colors</a></li>
           <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/CORE-EXTENSIONS/EXCHANGE-RATE-IMPORT/Exchange-rate-import.html">Exchange rate import</a></li>    
           <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/CORE-EXTENSIONS/USER-SECURITY-AUDIT-DETAIL-REPORT/User-Security-audit-detail-report.html">User security audit detail report</a></li>             
         </ul>
       <li><span class="caret">Electronic Data Interchange (EDI)</span>
         <ul class="nested">
           <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/Introduction.html">Introduction</a></li>
           <li><span class="caret">Core module</span>
             <ul class="nested">
                <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CORE/Introduction/Introduction.html">Introduction</a></li>
                 <li><span class="caret">Setup</span> 
                    <ul class="nested">
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CORE/Setup/Core-setup.html">Core setup</a></li>
                      <li>Document types</li>
                      <li>Setting profiles</li>
                    </ul>
                  </li>
              </ul>
           </li>
           <li><span class="caret">Customer module</span>
             <ul class="nested">
               <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/INTRODUCTION/Introduction.html">Introduction</a></li>
               <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/INTRODUCTION/Process-overview.html">Process overview</a></li>
               <li><span class="caret">Setup</span> 
                    <ul class="nested">
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/SETUP/Customer-setup.html">Customer setup</a></li>
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/SETUP/Setting-profiles.html">Setting profiles</a></li>
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/SETUP/Validation-profiles.html">Validation profiles</a></li>
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/SETUP/Trading-partner.html">Trading partners</a></li>
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/SETUP/Warehouses.html">Warehouses</a></li>
                    </ul>
                </li>
               <li><span class="caret">Processing</span> 
                    <ul class="nested">
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/DOCUMENTS/Customer-purchase-order.html">Customer purchase order</a></li>
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/DOCUMENTS/Customer-purchase-order-change.html">Customer purchase order change</a></li>
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/DOCUMENTS/Customer-purchase-order-acknowledgement.html">Customer purchase order acknowledgement</a></li>
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/DOCUMENTS/Customer-advanced-shipping-notice.html">Customer advanced shipping notice</a></li>
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/DOCUMENTS/Sales-invoice.html">Sales invoice</a></li>
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/DOCUMENTS/Review-sales-order.html">Review sales order</a></li>
                    </ul>
                </li>
               <li><span class="caret">Other</span> 
                    <ul class="nested">
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/WORKSPACES/EDI-Sales-order-processing.html">Sales order processing workspace</a></li>
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/OTHER/Data-entities.html">Data entities</a></li>
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/OTHER/Security-configuration.html">Security configuration</a></li>
                      <li><a href="https://dxcanzproduct.github.io/DXC-Products-for-Microsoft-Business-Applications/EDI/CUSTOMER/OTHER/FAQ.html">FAQ</a></li>
                    </ul>
                </li>               
             </ul>
           </li>
          </ul>
       </li>
    </ul>
       </div>
    <script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
      toggler[i].addEventListener("click", function() {
        this.parentElement.querySelector(".nested").classList.toggle("active");
        this.classList.toggle("caret-down");
      });
    }
    </script>
</div>

      
      <section>
        {{ content }}

      </section>        
      
      <footer>
        <!--
         {% if site.github.is_project_page %}
          <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>
      -->
      </footer>
    </div>
    <center>© DXC Technology Company</center>
  </body>
</html>
