---
layout: default
---

{% if site.data.products %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      
      {% for product in site.data.products %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          <a class=" button button-primary mb-2" href="{{ product.releaseNotesURL | relative_url }}">View</a>
          <h2 class="feature-title mb-2">{{ product.title }}</h2>
          <div class="feature-content">{{ product.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}